# Compiled bytecode
*.class

# Compiled output
bin/
out/
build/

# IntelliJ IDEA files
.idea/

# Gradle
.gradle/
build/
.gradle.kts

# Maven
target/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# User-specific files
.idea/
*.iml

# Dependency directories
lib/
